.header-details {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  width: 99%;
}

.hearder-date {
  background: rgba(242, 255, 252, 0.75);
  border-radius: 10px;
  color: #001813;
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.entregue {
  background: rgba(0, 204, 155, 0.75);
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

.pendente {
  align-items: center;
  background: rgba(204, 184, 0, 0.75);
  border: none;
  border-radius: 10px;
  color: black;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  width: 300px;
}

.preparando {
  background: rgba(102, 204, 0, 0.75);
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 300px;
}

.header-button {
  background-color: rgb(3, 107, 82);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 300px;
}
