.card {
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  border-radius: 10px;
  bottom: 0%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: fit-content;
  margin: 50px;
  top: 158px;
  width: 257px;
}

.img-price {
  position: relative;
}

.price {
  align-items: center;
  background: rgba(242, 255, 252, 0.75);
  border-radius: 10px;
  display: flex;
  height: 43px;
  justify-content: center;
  left: 20px;
  position: absolute;
  top: 8px;
  width: 94px;
}

.img {
  align-self: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  height: 278px;
  justify-content: center;
  left: 1px;
  top: 2px;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: row;
}

.box-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-around;
}

.counter-number {
  align-items: center;
  background: white;
  border-radius: 0;
  box-shadow: 0 0 0.2rem black;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
}

.btn-minus {
  background: #036b52;
  border: none;
  border-radius: 10px 0 0 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  line-height: 100%;
  width: 30px;
}

.btn-minus:disabled {
  opacity: 50%;
}

.btn-plus {
  background: #036b52;
  border: none;
  border-radius: 0 10px 10px 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  line-height: 100%;
  width: 30px;
}
